PORT=1234
ADMIN_TOKEN=Long-Secret-Admin-Token-Change-Me
PUBLIC_SITE_VERSION=1.0.0

# Development Settings - Start
CORS_ORIGIN=Development-URL-of-Site-Instance
TOJI_STORAGE_DIR=development-storage-directory
# Development Settings - End

# Production Settings - Start
#CORS_ORIGIN=Production-URL-of-Site-Instance
#TOJI_STORAGE_DIR=production-storage-directory
# Production Settings - End


# Optional AI features
OPENAI_API_KEY=Long-secret-api-key-change-me
OPENAI_IMAGE_DESCRIPTION_MODEL=ModelNameForImageDescription
OPENAI_IMAGE_DESCRIPTION_MAX_TOKENS=TokenLimitForImageDescription
OPENAI_IMAGE_TAGS_MODEL=ModelNameForImageTags
OPENAI_IMAGE_TAGS_MAX_TOKENS=TokenLimitForImageTags


